@import "src/sass/global/mixin";

#editDemandMD {
    .container {
      width: 740px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 4px;
      padding: 0 40px;
      margin-top: 40px;
    }
    .demand-title{
        line-height: 42px;
        font-size: 30px;
        color: $black;
        letter-spacing: 0;
    }
    .demand-tips{
        display: inline-block;
        height: 42px;
        line-height: 42px;
        margin-left: 22px;
        font-size: 14px;
        vertical-align: 4px;

        .service-type {
          width: 90px;
          height: 28px;
          display: inline-block;
          border: 1px solid #E3E8EE;
          border-radius: 100px;
          text-align: center;
          line-height: 28px;
          font-size: 13px;
          color: #8b9aab;
        }
        .colot-tangle{
            display: inline-block;
            height: 16px;
            width: 16px;
            background: #F7FAFF;
            border: 1px solid $backblue;
            margin-right: 7px;
            vertical-align: -4px;
        }
        .must-color{
            font-family: PingFangSC-Light;
            font-size: 14px;
            color: $blue;
            letter-spacing: 0;
            vertical-align: middle;
        }
    }
    .title{
        font-family: PingFangSC-Thin;
        font-size: 12px;
        color: $black;
        letter-spacing: 0;
        margin-bottom:14px;
    }
    [class^="information-"]{
        margin-top:40px;
    }
    .line{
        display:-webkit-flex;
        display:flex;
        justify-content:space-between;
        align-items: flex-end;
        margin-bottom:20px;
        .line-area,
        .line-distance {
            display: inline-block;
            position: relative;        
            >span {
                position: absolute;
                top: 12px;
                right: 10px;
                color: #8b9aab;            
            }
        }
    }
    .input-half {
        width: 320px;
        height: 50px;
        border: 1px solid #e3e8ee;
        padding: 0 15px;
        outline: none;
        border-radius: 2px;
        font-family: PingFangSC-Thin,Microsoft YaHei,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        color: #333;
        font-size: 14px;
    }
    .input-half-san {
        width: 206px;
        height: 50px;
        border: 1px solid #e3e8ee;
        padding: 0 15px;
        outline: none;
        border-radius: 2px;
        font-family: PingFangSC-Thin,Microsoft YaHei,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
        color: #333;
        font-size: 14px;
    }
    .input-half[readonly="readonly"] {
      color: #8b9aab;
    }
    
    .must{
        background: #F7FAFF!important;
    }
    .icon-circle-down {
      font-size: 12px;
      color: #8B9AAB;
      position: absolute;
      top: 40%;
      right: 15px;
    }
    .btn-demand{
        background-color:#fff;
        width: 320px;
        height:50px;
        line-height: 45px;
        background: #fff;
        border: 1px solid $backblue;
        border-radius: 2px;
        font-family: PingFangSC-Thin;
        font-size: 14px;
        color: $grayblue;
        letter-spacing: 0;
        cursor: pointer;
        white-space: nowrap;
        text-align: left;
        padding-left:15px;
    }
    .dropdown-menu {
      width: 320px;
      background: #FFFFFF;
      border: 1px solid #E3E8EE;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
      border-radius: 0px;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 4px;

      li{
        height: 52px;
        line-height: 52px;

        a {
          line-height: 52px;
          padding: 0 15px;
          color: #666;
        }
        a:hover, a:focus, a.active {
          background: #F8F8F8;
        }
      }
    }
    .dropdown.open {
      .icon-circle-down {
        transform:rotate(-180deg);
      }
    }
    .information-address .dropdown-menu {
      width: 207px;
      height: 270px;
      overflow-y: auto;
    }
    .city-select{
        width: 206px!important;
    }
    .caret{
        position: absolute;
        top:50%;
        right:15px;
        transform: translate(-50%,-50%);
    }
    .add-stock{
        display: inline-block;
        background-color:#fff;
        width: 207px;
        height:50px;
        line-height: 50px;
        border: 1px dashed $backblue;
        border-radius: 2px;
        text-align: center;
        font-family: PingFangSC-Thin;
        font-size: 14px;
        color: #003894;
        letter-spacing: 0;
        cursor: pointer;

        .icon-Add-to {
          margin-right: 10px;
          vertical-align: -1px;
        }
    }
    .deman-footer {
        margin: 61px 0 40px 0;
    }
    .text-error {
        color: #fe3824;
        margin-left: 24px;
        font-size: 14px;            
    }
    .btn {
        width: 120px;
        height: 46px;
        background: #003894;
        border-radius: 2px;
        padding: 0;
        border: none;
        font-weight:600;
    }
    .demand-time {
      width: 660px;
      height: 50px;
      padding: 0 15px;
      color: #333;
      border: 1px solid #E3E8EE;
      border-radius: 2px;
      outline: none;
      font-size: 14px;
      font-family: PingFangSC-Thin;
    }
    .buchong-area {
      width: 660px;
      height: 114px;
      padding: 5px 15px;
      border: 1px solid #E3E8EE;
      border-radius: 2px;
      outline: none;
      font-size: 14px;
      color: #333;
    }

    /*产品配件*/
    .access-parts {
      width: 100%;
      padding: 0;
      border-top: 1px solid #e3e8ee;
      border-left: 1px solid #e3e8ee;
      font-size: 14px;
      margin-bottom: 0;

      .access-li {
        list-style: none;
        .access-liput {
          float: left;
          width: 205px;
          border-right: 1px solid #e3e8ee;
          border-bottom: 1px solid #e3e8ee;
          font-size: 14px;
          padding: 15px 15px;

          input {
            border: none;
            padding: 0;
            color: #333;
            width: 100%;
            outline: none;
          }
        }
        .acc-liputwid {
          width: 249px;
        }
      }

      .access-head {
        background: #F7FAFF;
        color: #8b9aab;
        height: 49px;
        line-height: 49px;

        .access-liput {
          padding: 0 15px;
        }
      }
    }

    .access-add {
      width: 100%;
      text-align: center;
      border: 1px solid #e3e8ee;
      border-top: none;
      height: 50px;
      line-height: 50px;

      .acc-add-to {
        font-size: 14px;
        color: #003894;

        .icon-Add-to {
          margin-right: 10px;
          vertical-align: -1px;
        }
      }
    }

    /*寄件*/
    .pro-send {
        width: 100%;
        height: 50px;
        background: #F7FAFF;
        border: 1px solid #E3E8EE;
        border-radius: 2px; 
        padding: 0 15px;
        margin-bottom: 30px;

        input {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            margin-top: 15px;
            width: 100%;
            color: #333;
            border: none;
            background: #F7FAFF;
            outline: none;
        }
    }
}

::-webkit-input-placeholder{color:#8b9aab;}
::-moz-placeholder{color:#8b9aab;}
:-moz-placeholder{color:#8b9aab;}
