<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="keywords" content="">
<meta name="description" content="">

@@if (title === '') {
<title>洲明售后管理系统</title>
}
@@if (title !== '') {
<title>@@title</title>
}

<link rel="stylesheet" href="/global/sass/libs/bootstrap.css">
<link rel="stylesheet" href="/global/sass/immy.css">
<link rel="stylesheet" href="/global/sass/libs/animation.css"/>
<link rel="stylesheet" href="/sass/common.css">
<link rel="stylesheet" href="/font/font.css">
<link rel="stylesheet" href="/sass/override.css">

<script>
	// todo: 先注释掉，否则页面出不来东西
    // document.documentElement.className = "-immy-loading";

    //console兼容
    window.console = window.console || (function () {
        var c = {};
        c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile
            = c.clear = c.exception = c.trace = c.assert = function () {
            };
        return c;
    })();
</script>
