@import "src/sass/global/mixin";

#sparesMD {
    .detail-bei {
        font-size: 0.13rem;
        color: #333;
        line-height: 0.38rem;
        padding: 0 0.15rem;
        margin-top: 0.2rem;
        font-weight: 700;
    }

    .detail-beijian {
        border-left: 1px solid #E3E8EE;

        .detail-bj-name {
            color: #333;
            letter-spacing: 0;
            line-height: 0.23rem;
            float: left;
            outline: none;
            border: none;
            width: 100%;
            font-size: 0.14rem;
            font-family: PingFangSC-Thin;
        }

        .count-put {
           font-family: PingFangSC-Semibold;
        }
        .detail-bj-count {
            float: right;
            width: 100%;
            text-align: center;
            .count-shu {
                font-size: 0.12rem;
                color: #83848E;
                margin-right: 0.2rem;
            }
            .count-jian {
                width: 0.22rem;
                height: 0.22rem;
                border: 0.01rem solid #E3E8EE;
                border-radius: 4px;
                display: inline-block;
                text-align: center;
                line-height: 0.16rem;
                cursor: pointer;
                color: #003894;
            }
            .count-jia {
                width: 0.22rem;
                height: 0.22rem;
                border: 0.01rem solid #E3E8EE;
                border-radius: 4px;
                display: inline-block;
                text-align: center;
                line-height: 0.19rem;
                vertical-align: -1px;
                cursor: pointer;
                color: #003894;
            }
            .count-liang {
                font-size: 0.15rem;
                color: #263547;
                margin: 0 0.12rem;
                font-weight: 700;
                display: inline-block;
                width: 19px;
                text-align: center;
            }
            .spare-hui {
                opacity: 0.5;
            }
        }

        .beijian-type {
           width: 100%;
           border: none; 
           outline: none;
           font-size: 0.14rem;
           color: #333;
        }
    }

    .detail-bj-tianjia {
        width: 100%;
        padding: 0 0.15rem;


        .beijian-add {
            font-size: 0.14rem;
            color: #003894;
            letter-spacing: 0; 
            border: 1px solid #e3e8ee;
            border-top: none;
            height: 0.5rem;
            line-height: 0.5rem;
        }
    }

    .comments {
        .detail-buchong {
            .pro-bname {
                margin-top: 0;
                display: block;
                font-size: 0.14rem;
                color: #212022;
                letter-spacing: 0;
                padding: 0 0.15rem;
                margin-bottom: 0.08rem;
                cite {
                    font-style: normal;
                    margin-right: 0.17rem;
                }
            }
            .pro-bshuo {
                padding: 0 0.15rem;
                font-size: 0.12rem;
                color: #B3B5B7;
                letter-spacing: 0;
                line-height: 0.2rem;
            }
        }

        .edit-shuo {
            padding: 0 0.15rem 1.1rem;;
            .edit-input {
               width: 2.5rem;
               outline: none;
               height: 0.5rem; 
               border: 1px solid #E3E8EE;
                border-radius: 0.02rem;
                color: #B3B5B7;
                letter-spacing: 0;
                font-size: 0.14rem;
                padding: 0 0.15rem;
                float: left;
                box-shadow: none;
            }
            .pro-recall-save {
                width: 0.8rem;
                font-size: 0.15rem;
                border-radius: 0.02rem;
                margin-left: 2.7%;
                height: 0.5rem;
                float: right;
            }
        }
    }

    .spare-list {
        width: 100%;
        padding: 0 0.15rem;
    }

    .spare {
        width: 100%;
        border: 1px solid #e3e8ee;
        border-right: none;
        height: 0.44rem;
        line-height: 0.44rem;
        background-color: #f7faff;
        font-size: 0.14rem;
        color: #8B9AAB;
    }

    .spare-one {
        width: 30%;
        float: left;
        border-right: 1px solid #e3e8ee;
        padding: 0 0.15rem;
    }

    
    .spare-two {
        width: 30%;
        float: left;
        padding: 0 0.15rem;
        border-right: 1px solid #e3e8ee;
        border-bottom: 1px solid #e3e8ee;
        height: 0.5rem;
        padding-top: 0.12rem;
    }

    .apare-mid {
        width: 40%;
    }


    // 编写维修记录页，不显示“补充说明”
    .hide-comments {
        margin-bottom: 100px;
        .comments {
            display: none;
        }
    }
}
