@import "src/sass/global/mixin";

#requirementsMD {
   .has-demand {
        width: 100%;

        .h-d-title {
            width: 100%;
            border-bottom: 1px solid #E3E8EE;
            font-size: 0.18rem;
            color: #333333;
            margin: 0;
            padding: 0.28rem 0.15rem 0.23rem;
            font-family: PingFangSC-Thin;
        }

        .has-d-list {
            width: 100%;
            border-bottom: 1px solid #E3E8EE;
            padding: 0 0.15rem;
            position: relative;

            .has-l-btn {
                position: absolute;
                right: 0.17rem;
                top: 0.17rem;
                z-index: 2;
                font-size: 0.12rem;
            }
            .hascurrent {
                transform: rotate(-45deg);
            }

            .h-d-project {
                font-size: 0.16rem;
                color: #333333;
                margin: 0.17rem 0 0.1rem;
                font-family: PingFangSC-Thin;

                .font-malf {
                    font-size: 0.2rem;
                    color: #003894;
                    margin-right: 0.15rem;
                    vertical-align: -0.02rem;
                }
            }

            .has-status, .has-first {

               .stage {
                    font-size: 0.12rem;
                    color: #999999;
                    padding-left: 0.37rem;
                    margin: 0;
                    padding-bottom: 0.33rem;
                    position: relative;

                    .stage-dot {
                       width: 0.12rem;
                       height: 0.12rem;
                       border-radius: 0.12rem;
                       background-color: #fff; 
                       display: inline-block;
                       margin-right: 0.08rem;
                       border: 1px solid #e3e8ee;
                       vertical-align: -0.02rem;
                       transform: scale(0.8);
                    }

                    &:before {
                        content: "";
                        width: 0.01rem;
                        height: 0.41rem;
                        background-color: #e3e8ee; 
                        display: block;
                        position: absolute;
                        top: 0.12rem;
                        left: 0.43rem;
                    }

                    &:last-child:before {
                        content:none;
                    }
                    .currentStage {
                        font-style: normal;
                    }
               }
               .st-five {
                    padding-bottom: 0.17rem;
               } 
            }

            .has-first {
                .stage {
                    color: #003894;
                    padding-bottom: 0.17rem;
                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }

            /*状态1*/
            .has-status.status1 {
                .st-one {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }

            /*状态2*/
            .has-status.status2 {
                .st-one {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }

                    &:before {
                        background-color: #003894; 
                    }
                }

                .st-two {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }

            /*状态3*/
            .has-status.status3 {
                .st-one, .st-two {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }

                    &:before {
                        background-color: #003894; 
                    }
                }

                .st-three {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }

            /*状态4*/
            .has-status.status4 {
                .st-one, .st-two, .st-three {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }

                    &:before {
                        background-color: #003894; 
                    }
                }

                .st-four {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }

            /*状态5*/
            .has-status.status5 {
                .st-one, .st-two, .st-three, .st-four {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }

                    &:before {
                        background-color: #003894; 
                    }
                }

                .st-five {
                    color: #003894;

                    .stage-dot {
                        background-color: #003894; 
                        border: 1px solid transparent;
                    }
                }
            }
        }
   }

   .no-demand {
        width: 100%;
        text-align: center;
        font-size: 0.3rem;
        color: #333333;
        padding: 0.79rem 0 0.2rem;

        p {
            margin: 0;
            font-family: PingFangSC-Thin;
        }
   }
}
