@import "src/sass/global/mixin";

#serviceProcess{
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f7faff;
    overflow-x: scroll;
    width: 100%;
    padding: 40px 0 40px 60px;
    
    .content {
        width: 100%;
        border-radius: 4px;
    }
    
    .taskbox-pane{
        width: 1904px;
        padding-bottom: 64px;
        height: 100%;
    }
    .task-box{
        width: 290px;
        min-height: 679px;
        height: 100%;
        position: relative;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px;
        overflow: hidden;
        background: #FFFFFF;
        border: 1px solid $backblue;
        box-shadow: 0 2px 6px 0 rgba(227,232,238,0.70);
        border-radius: 4px;
       
        .box-title{
            width: 100%;
            height: 60px;
            padding: 19px 15px;
            line-height: 22px;
            font-size: 16px;
            color: $blue;
            background: $backblue;
            position: relative;
            .icon-Add-to {
                float: right;
                margin-top: 3px;
                display: inline;
                font-size: 14px;
            }
        }
        .task-item{
            height: 85px;
            padding: 20px 20px 20px 50px;
            border-bottom:1px solid $backblue;
            position: relative;

            .icon-xiangmu {
                position: absolute;
                left: 18px;
                top:20px;
                font-size: 20px;
                color: #003894;
            }

            .task-item-name{
                font-size: 14px;
                line-height: 20px;
                color: $black;
                margin-bottom: 8px;
            }
            .task-item-time{
                font-size: 12px;
                line-height: 17px;
                color: $gray;
            }
        }
        .task-item:last-child {
            border-bottom: none;
        }

    }
    .task-over {
         .task-item{
            .icon-xiangmu {
                color: #61A417;
            }
        }
    }
    .task-duan {
         .task-item{
            .icon-xiangmu {
                color: #999;
            }
        }
    }

}