@import "src/sass/global/mixin";

$clr: #F6A623;
$bdr: 1px solid #F6A623;
$coin-size: 8px;

#workersMap {
    .progress-bar {
        width: 60px;
        height: 10px;    
        border: $bdr;
        background-color: #FFF;
        border-radius: 5px;
        margin-bottom: 10px;

        .inner-bar {
            width: 30px; // 此值会根据计算变化
            height: 8px;
            border: 1px solid #FFF;
            background-color: $clr;
            border-radius: 4px;
        }
    }

    .pane {
        position: absolute;
        border-radius: 5px;
        width: 180px;
        height: 50px;
        top: -60px;
        background-color: $clr;

        .progress-bar {
            position: absolute;
            left: 100px;
            top: 20px;
        }
    }


    .marker-pin {
        position: relative;
        /* background-color: #000; */

        &>.progress-bar {
            position: absolute;
            left: -23px;
            top: -20px;
        }
        
        .pin {
            overflow: hidden;
	        width: 26px;
            height: 37px;

            .inn {
	            height: 41px;
        		@include background('{{MIMAGE}}/pin-yellow.png')
            }
        }

        .pane {
            left: -82px;
        }
    }

    .marker-coin {
        position: relative;
        /* background-color: #000; */
        width: $coin-size;

        .coin {
            width: $coin-size;
            height: $coin-size;
            background-color: $clr;
            border-radius: 4px;
        }

        .pane {
            left: -86px;
        }
    }

    .tpl {
    	z-index: 100;
    	position: absolute;
        left: 300px;
        top: 300px;

        &>div {
            margin-bottom: 100px;
        }
    }
}

