@import "src/sass/global/mixin";

#assignTasks {
    .content {
        width: 1320px;
        background-color: #fff;
        border-radius: 4px;
    }

    .date-block{
        width: 894px;
        display: inline-block;
        vertical-align: top;
    }
    .date-list{
        width: 100%;
        height: 60px;
        background: $backblue;
        position: relative;
        overflow: hidden;

        .date-pre,.date-next, .slick-prev, .slick-next{  /*slick改动*/
            width: 64px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: $grayblue;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer; 
            position: absolute;
            background-color: #e3e8ee;
            border: none;
            outline:none;
            padding: 0;
            top: 0; 
            z-index: 5;
            overflow: hidden;
            span{
                font-size: 14px;
            }
        }
        .slick-prev {  /*slick改动*/
            left: -64px;
        }
        .slick-prev:hover, .slick-next:hover {
            background-color: #fff;
        }
        .date-next, .slick-next{  
            margin-left: -6px;
            border-left: 1px solid $bordercolor;
            right: -64px;
        }
        .slick-disabled { /*slick改动*/
            span {
                opacity: 0.2;
            }
        }
        .date-pane{
            width: 765px;
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            margin-left: -5px;
            position: relative;
            margin-left: 64px;
            .date-pane-all{
                width: 100%; 
                position: relative;
                transition: all .6s;
            }
        }
        .date-day{
            width: 111px;
            height: 60px;
            color: $grayblue;
            margin-right: -1px;
            padding: 8px 0;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            border-right: 1px solid $bordercolor;
            border-left: 1px solid $bordercolor;
            cursor: pointer;
            outline: none;
            p{
                font-size: 14px;
                line-height: 22px;
                margin: 0;
            }
            .free-num{
                color: $lightblack;
            }
            &:hover {
                background-color: #fff;
            }
        }
        .cur-day {
            background-color: #fff;
        }
    }
    .table-label{
        height: 40px;
        line-height: 40px;
        background-color: $grayblue;
        color: #fff;
        font-size: 14px;
        padding: 0 64px ;

        .table-label-name{
            margin-right: 170px;
        }
        .table-label-city{
            margin-right: 180px;
        }
        .table-label-status{
            margin-right: 250px;
        }
    }
    .suppliers-list{
        overflow-y: auto;

        .item{
            width: 100%;
            height: 80px;
            padding: 0 10px 0 60px;
            line-height: 80px;
            color: $black;
            font-size: 14px;
            border-bottom: 1px solid $bordercolor;

            p,button{
                display: inline-block;
                vertical-align: middle;
                margin: 0;
            }
            .item-name{
                width: 200px;
            }
            .item-location{
                width:230px;
            }
            .item-status{
                width:251px;
                color: $gray;
            }
            .item-curr-status{
                color: $black;
            }
            .item-operation{
                width: 96px;
                height: 46px;
                line-height: 28px;
                font-size: 15px;
                background: #003894;
                border-radius: 2px;
                font-size: 15px;
                border: none;
            }
            .item-distance,.item-date{
                color: #999;
            }
            .item-icon-free,.item-icon-busy{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #61A417;
            }
            .item-icon-busy{
                background: #DA921B;
            }
        }
    }

    /*返厂维修中*/
    .factory-test {
        padding: 0 40px;
        width: 894px;
        display: inline-block;
        vertical-align: top;

      .com-schedule {
        width: 898px;
        padding-top: 16px;
        padding-bottom: 16px;

        .percentage-num {
          float: left;
          font-size: 14px;
          color: #8b9aab;
          width: 41px;
          margin-top: 8px;
          display: inline;
        }

        .percentage {
          width: 677px;
          height:8px;
          overflow: hidden;
          position: relative;
          background-color: #e3e8ee;
          border-radius: 100px;
          float: left;
          margin-top: 13px;
          display: inline;

          p {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100px;
            width: 15%;
            height: 8px;
            overflow: hidden;
            background-color: #003894;
          }
        }

        .percent-btn {
          width: 70px;
          height: 32px;
          float: left;
          border-radius: 100px;
          background-color: #003894;
          text-align: center;
          line-height: 32px;
          font-size: 15px;
          color: #fff;
          margin-left: 32px;
          display: inline;
        }
        .percent-mit {
          width: 70px;
          height: 32px;
          float: left;
          border-radius: 100px;
          background-color: #003894;
          text-align: center;
          font-size: 15px;
          color: #fff;
          margin-left: 32px;
          display: inline;
          opacity: 0.5;
          border: none;
          outline: none;
        }
      }

      .schtabel {
        width: 818px;
        border: 1px solid #e3e8ee;

        td {
          border: 1px solid #e3e8ee;
          font-size: 14px;
          color: #333;
          padding: 0 15px;
          height: 50px;
          line-height: 50px;

          .sch-sel {
            margin-right: 80px;
            color: #8b9aab;

            cite {
              display: inline-block;
              width: 14px;
              height: 14px;
              border: 1px solid #e3e8ee;
              border-radius: 50%;
              vertical-align: -2px;
              margin-right: 9px;
            }

            &:last-child {
              margin-right: 0;
            }
          }

          .wx-time {
            color: #3f3f3f;
          }

          .current {
            cite.active {
              background-color: #e3e8ee;
            }
            cite.specactive {
              background-color: #61a417;
              border-color: #61a417;
            }
          }
        }

        .schhead td {
          background-color: #f7faff;
          color: #8b9aab;
        }
      }
    }
}
