@import "src/sass/global/mixin";

#LandHeader{
  border: 0;
  background:none;
  border-radius: 0;
  .landing-logo{

    display: block;
    margin:0 auto;
    width: 130px;
    height: 58px;
    @include background('/images/imodules/L001OutsideScreen/logo.png',130px,34px,0,12px)

  }
}