#Footer{
  // margin-top:0.75rem;
  .footer {
    width:100%;
    background-color:#212022;
    padding-top:0.3rem;
  }
  .footer-logo {
    vertical-align: top;
    width:0.93rem;
    height:0.42rem;
    background:url({{MIMAGE}}/f-logo.png) no-repeat;
    background-size:0.93rem 0.42rem;
    margin-left:.15rem;
  }
  .footer-info {
    margin-left:.15rem;
    font-size:.12rem;
  }
  .phone {
    display: inline-block;
    font-size: .16rem;
    color: #fff;
    vertical-align: middle;
    height: .22rem;
    line-height: .16rem;
  }
  .knowus {
    font-size:0.12rem;
    margin-bottom:0.215rem;
  }
  .phonecon {
    line-height:.16rem;
    margin:.4rem 0 .13rem 0;

  }
  .icon-phone04 {
    font-size:.18rem;
  }
  .about {
    font-size:.12rem;
    border-left:1px solid #fff;
    padding-left:.14rem;
    height:.18rem;
    display:inline-block;
    margin-left:.14rem;
    line-height: 22px;
    vertical-align: 2px;
    color:#fff;
    text-decoration: underline;
  }
  .addr {
    font-size:0.12rem;
    padding:.07rem 0 0.3rem;
    line-height:.12rem;
    margin-bottom: 0;
  }
  .white {
    color:#fff;
    padding-right:.06rem;
  }
  .grey {
    color:#B3B5B7;
  }
}