<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no" />
<meta name="renderer" content="webkit">
<meta name="keywords" content="安装LED显示屏,LED显示屏安装,LED显示屏报价,LED显示屏维修">
<meta name="description" content="万屏汇是一家提供LED显示屏报价,LED显示屏安装,LED显示屏维修服务的网站,为全国客户提供上门报价,安装,维修服务">

@@if (title === '') {
<title>万屏汇-上门安装LED屏,LED显示屏安装,LED显示屏报价,LED显示屏维修</title>
}
@@if (title !== '') {
<title>@@title</title>
}

<link rel="stylesheet" href="/global/sass/libs/bootstrap.css">
<link rel="stylesheet" href="/global/sass/immy.css">
<link rel="stylesheet" href="/global/sass/libs/animation.css">
<link rel="stylesheet" href="/font/font.css">
<link rel="stylesheet" href="/sass/override.css">
<link rel="stylesheet" href="/sass/common.css">

@@include('global/track/TrackHead/main.html')

<script>
    document.documentElement.className = "-immy-loading";
</script>

