
$bdr-gray: 1px solid #E3E8EE;
$bdr-fff: 1px solid #fff;

$clr-gray: #E3E8EE;

#schedule {

    .month, .month-title {
        /* border: $bdr;  */
        padding-bottom: 2px;  // 为了不遮住最后一根横线

        .week-row {
            position: relative;

            .day, .dayx {
                position: relative;
                display: inline-block;
                width: 150px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                border-top: $bdr-gray; 
                border-left: $bdr-gray; 

                &:first-child {
                    border-left: $bdr-fff; 
                }

                &.weekend {
                    color: $clr-gray;
                }

                // 不在本月内的
                &.beyond {
                    border-left: $bdr-fff;
                    color: $clr-gray;
                    background-color: #fff; // 这是为了盖住画到该区域的蓝线
                    opacity: 0.9;
                    z-index: 20;
                }

                &.beyond.date1 {
                    border-left: $bdr-gray;
                }
            }

            .dayx {
                width: 30px;
                border-top: $bdr-fff; 
                border-left: $bdr-fff; 
            }

            &:last-child {
                .day {
                    border-bottom: $bdr-gray;
                }
            }

            .line {
                position: absolute;
                bottom: 10px;
                height: 8px;
                background-color: #4785F9;
                width: 100px;
                z-index: 10;

                &.left-tip {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &.right-tip {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                // 全部在未来
                &.future {
                    background-color: #B5CEF9;
                }

                // 进行中，未来几天
                &.ahead {
                    background-color: #78AAFF;
                }
            }
        }
    }
}
