
$bdr: 1px solid #E3E8EE;
$clr-gray: #E3E8EE;

#schedule {

    .month {
        /* border: $bdr;  */

        .week-row {
            position: relative;

            .day {
                float: left;
                position: 
                width: 150px;
                height: 50px;
                border: $bdr; 

                &.weekend {
                    color: $clr-gray;
                }

                // 不在本月内的
                &.beyond {
                    border: 1px solid #fff;
                    color: $clr-gray;
                }
            }

            .line {
                position: absolute;
                top: 30px;
                height: 8px;
                border-radius: 4px;
                background-color: #4785F9;
                width: 100px;
                z-index: 10;
            }
        }
    }
}
