@import "src/sass/global/mixin";

#submitDemand {
   .detail-info {
        width: 100%;
        padding: 0 0.15rem;

        h1 {
            font-size: 0.3rem;
            color: #333333;
            margin: 0;
            padding-top: 0.2rem;
        }

        .de-xtitle {
            font-size: 0.13rem;
            color: #333333;
            line-height: 0.13rem;
            margin: 0;
            padding-top: 37px;
        }
        .de-basics {
            width: 100%;
            border-bottom: 1px solid #E3E8EE!important;

            .basics-tip {
                float: left;
            }

            .basics-put {
                float: right;
                border: none;
                text-align: right;
                outline: none;
            }
        }
   }
}
