@import "src/sass/global/mixin";

#inRepairMD {
  padding: 0 40px;
  width: 1320px;

  .pairbox {
    width: 857px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 82px;
  }

  .schtabel {
    width: 818px;
    border: 1px solid #e3e8ee;

    td {
      border: 1px solid #e3e8ee;
      font-size: 14px;
      color: #333;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;

      .sch-sel {
        margin-right: 26px;
        color: #8b9aab;
        cursor: pointer;

        cite {
          display: inline-block;
          width: 14px;
          height: 14px;
          border: 1px solid #e3e8ee;
          border-radius: 50%;
          vertical-align: -2px;
          margin-right: 9px;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .wx-time {
        color: #3f3f3f;
      }

      .current1 {
        cite.adopt {
          background-color: #e3e8ee;
        }
      }

      .current2 {
        cite.maintenance {
          background-color: #e3e8ee;
        }
      }

      .current3 {
        cite.completed {
          background-color: #61a417;
          border-color: #61a417;
        }
      }


        
    }

    .schhead td {
      background-color: #f7faff;
      color: #8b9aab;
    }
  }
}
