@import "src/sass/global/mixin";
#AboutUs {
  background-color: rgba(0, 0, 0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  overflow: auto;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  //padding-top: 0.15rem;
  .line {
    height: 0.15rem;
  }
  .line-close {
    height: 0.15rem;
    margin-bottom: 0.25rem;
  }
  .close {
    height: 0.14rem;
    width:100%;
    text-align: right;
    font-size: 0.14rem;
    text-shadow: inherit;
    margin-top:0.15rem;
  }
  .icon-cross {
    display: inline-block;
    font-size: 0.14rem;
  }
  .content-list {
    padding-left: .2rem;
    padding-right: .2rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 4px;
  }
  img {
    width: 1.4rem;
    padding-bottom: .24rem;
  }
  .content-all{
    overflow: auto;
    height: 6rem;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
  }
  .content-list {
    padding-top: .40rem;
  }
  .title {
    color: $black;
    line-height:1.33;
    font-size: .18rem;
    font-weight: 500;
    margin-bottom: 0.16rem;
  }
  p {
    text-indent: 2em;
    color: $gray;
    font-size: .12rem;
    line-height: 1.5;
    margin-bottom: 11px;
  }
  .m-title{

    font-size:0.14rem;
    color:$black;
  }
  .words {
    position: relative;
    text-indent: 2em;
    height: 1rem;
    overflow: hidden;
  }
  .cover {
    position: absolute;
    bottom: 0;
    height: 0.8rem;
    width: 100%;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }
  .details {
    cursor: pointer;
    border-top: 1px solid $linecolor;
    text-align: center;
    margin-top: 0.08rem;
    padding-top: 0.12rem;
    span {
      display: inline-block;
      height: .12rem;
      font-size: .12rem;
      font-weight: 300;
      color: $blue;
    }
    .open {
      text-align: center;
      color: $blue;
      font-size: .12rem;
    }
  }
  //小三角
  .grab-open {
    width: 0.09rem;
    height: 0.05rem;
    margin-bottom: 0.15rem;
    transition: transform .3s ease-in 0s;
    -webkit-transition: -webkit-transform .3s ease-in 0s;
    -o-transition: -o-transform .3s ease-in 0s;
    -ms-transition: -ms-transform .3s ease-in 0s;
  }

  .grab-open.rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -o-transform-origin: center center;
    -ms-transform-origin: center center;
  }

  .grab-open.rotate:before {
    color: $blue;
  }

  .grab-open:before {
    font-size: 0.12rem;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  .grab-open.icon-circle-up:before {
    font-size: 0.12rem;
  }
}
