@import "src/sass/global/mixin";

#demandDetail {
    .bottom-btn {
        width: 100%;
        height: 0.5rem;
        background: #003894;
        box-shadow: 0 -1px 0 0 rgba(51,51,51,0.10);
        color: #fff;
        font-size: 0.15rem;
        text-align: center;
        line-height: 0.5rem;
        position: fixed;
        left: 0;
        bottom: 0;
        border: none;
        display: none;

        &:disabled {
            opacity: 0.5;
        }
    }
}
