@import "src/sass/global/mixin";

#detailsMD {
    .detail-user {
        padding: 0 0.15rem 0.17rem;
        border-bottom: 0.01rem solid #E3E8EE;

        h3 {
            font-size: 0.25rem;
            color: #0F0E10;
            margin-top: 0.2rem;
            font-weight: 700;

            .user-status {
                color: #4785f9;
            }
        }
        .user-info {
            position: relative;
            margin-top: 0.13rem;
            font-weight: 700;

            h6 {
                font-size: 0.18rem;
                color: #212022;
                margin-top: 0;
                margin-bottom: 0.06rem;
            }
            p{
                font-size: 0.12rem;
                color: #B3B5B7;
            }
            .icon-call {
                font-size: 0.20rem;
                color: #4785f9;
                position: absolute;
                top: 0.16rem;
                right: 0.04rem;
            }
        }
    }
    .detail-date {
        padding: 0.13rem 0.15rem;
        border-bottom: 0.01rem solid #E3E8EE;
        margin-bottom: 0.2rem;
        span {
            font-size: 0.14rem;
            color: #212022;
        }
    }
    .icon-malfunction {
        margin-right: 2px;
    }
    .detail-rease {
        font-size: 0.14rem;
        color: #212022;
        padding: 0 0.15rem;
        padding-top: 0.2rem;
        font-weight: 700;
    }
    .detail-img {
        width: 2.89rem;
        height: 1.92rem;
        background: #EBF0F8;
        margin-left: 0.15rem;
        margin-top: 0.15rem;
        position: relative;

        .d-img-tip {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 1.92rem;
            color: #83848E;
        }
        .d-img-p {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #EBF0F8;

            // to gaoyue: 这个是我临时加的，因为图片太大，太难看。
            // 还有，几个图标的相关尺寸我用了px，你需要改成rem的你再改。
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .icon-location:before {
        color: #4785f9;
        font-size: 11px;
        margin-right: 2px;
    }

    .detail-address {
        padding: 0 0.15rem;
        font-size: 0.12rem;
        color: #83848E;
        letter-spacing: 0;
        margin-top: 0.15rem;
    }
    .detail-other {
        padding: 0.06rem 0.15rem 0.06rem;
        background: #fcfcfc;
        margin-top: 0.25rem;
        .detail-other-title {
            font-size: 0.12rem;
            color: #212022;
            line-height: 0.38rem;
            font-weight: 700;

            .icon-Unfolded {
                float: right;
                font-size: 0.12rem;
                color: #83848e;
                transform:scale(0.6); 
                margin-top: 0.11rem;
            }
            .icon-Put-away {
               float: right;
                font-size: 0.12rem;
                color: #83848e;
                transform:scale(0.6); 
                margin-top: 0.11rem;
            }
        }
    }
    .table-bordered{
        width: 100%;
        margin-bottom: 0.2rem;
        td{
            height: 0.35rem;
            line-height: 0.35rem;
            font-size: 0.14rem;
            color: #83848E;
            padding:0.05rem 0 0.05rem 0.12rem;
        }
        tr td:first-of-type{
            color: $grayblue;
            padding:0.05rem 0 0.05rem 0.15rem;
            width: 0.91rem;
        }
    }
}
