@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qi52l6');
  src:  url('fonts/icomoon.eot?qi52l6#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qi52l6') format('truetype'),
    url('fonts/icomoon.woff?qi52l6') format('woff'),
    url('fonts/icomoon.svg?qi52l6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture:before {
  content: "\e965";
}
.icon-download-pc2:before {
  content: "\e964";
}
.icon-download-pc:before {
  content: "\e94d";
}
.icon-logo:before {
  content: "\e963";
}
.icon-search-pc:before {
  content: "\e95f";
}
.icon-crowd-pc:before {
  content: "\e960";
}
.icon-cross-pc:before {
  content: "\e961";
}
.icon-delete-pc:before {
  content: "\e962";
}
.icon-aircraft-pc:before {
  content: "\e938";
}
.icon-checkmark-pc:before {
  content: "\e939";
}
.icon-checkmark-pc2 .path1:before {
  content: "\e946";
  color: rgb(126, 211, 33);
}
.icon-checkmark-pc2 .path2:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-checkmark-pc3:before {
  content: "\e948";
}
.icon-complete-pc:before {
  content: "\e949";
}
.icon-data-pc:before {
  content: "\e94a";
}
.icon-leftpc:before {
  content: "\e966";
}
.icon-rightpc:before {
  content: "\e967";
}
.icon-down-pc:before {
  content: "\e94b";
}
.icon-down-pc2:before {
  content: "\e94c";
}
.icon-edit-pc:before {
  content: "\e94e";
}
.icon-error-pc:before {
  content: "\e94f";
}
.icon-flip-pc:before {
  content: "\e950";
}
.icon-install-pc:before {
  content: "\e951";
}
.icon-join-pc:before {
  content: "\e952";
}
.icon-left-pc:before {
  content: "\e953";
}
.icon-location-pc2:before {
  content: "\e954";
}
.icon-location-pcs:before {
  content: "\e955";
}
.icon-mark:before {
  content: "\e956";
}
.icon-message-pc:before {
  content: "\e957";
}
.icon-nail-pc:before {
  content: "\e958";
}
.icon-phone-pc:before {
  content: "\e959";
}
.icon-play-pc:before {
  content: "\e95a";
}
.icon-right:before {
  content: "\e95b";
}
.icon-up-pc:before {
  content: "\e95c";
}
.icon-up-pc2:before {
  content: "\e95d";
}
.icon-user-pc:before {
  content: "\e95e";
}
.icon-lock:before {
  content: "\e928";
}
.icon-phone05:before {
  content: "\e92c";
}
.icon-!:before {
  content: "\e945";
}
.icon-phone06:before {
  content: "\e93a";
}
.icon-x:before {
  content: "\e944";
}
.icon-up:before {
  content: "\e943";
}
.icon-Plus:before {
  content: "\e942";
}
.icon-gift:before {
  content: "\e941";
}
.icon-vip:before {
  content: "\e93b";
}
.icon-file:before {
  content: "\e93c";
}
.icon-expression:before {
  content: "\e93d";
}
.icon-enclosure02:before {
  content: "\e93e";
}
.icon-crown:before {
  content: "\e93f";
}
.icon-crowd:before {
  content: "\e940";
}
.icon-delete:before {
  content: "\e933";
}
.icon-enclosure:before {
  content: "\e934";
}
.icon-go:before {
  content: "\e935";
}
.icon-nail:before {
  content: "\e936";
}
.icon-publishing-editor:before {
  content: "\e937";
}
.icon-arrow－return:before {
  content: "\e930";
}
.icon-user3－26px:before {
  content: "\e931";
}
.icon-user4-51px:before {
  content: "\e932";
}
.icon-wallet02:before {
  content: "\e92f";
}
.icon-aircraft:before {
  content: "\e922";
}
.icon-arrow:before {
  content: "\e923";
}
.icon-cancellation:before {
  content: "\e924";
}
.icon-checkmark02:before {
  content: "\e925";
}
.icon-data02:before {
  content: "\e926";
}
.icon-location5:before {
  content: "\e927";
}
.icon-message02:before {
  content: "\e929";
}
.icon-phone03:before {
  content: "\e92a";
}
.icon-phone04:before {
  content: "\e92b";
}
.icon-upgrade:before {
  content: "\e92d";
}
.icon-user22:before {
  content: "\e92e";
}
.icon-Triangle-2:before {
  content: "\e920";
}
.icon-rmb:before {
  content: "\e921";
}
.icon-demand:before {
  content: "\e918";
}
.icon-location:before {
  content: "\e919";
}
.icon-budget:before {
  content: "\e91a";
}
.icon-card:before {
  content: "\e91b";
}
.icon-pause:before {
  content: "\e91c";
}
.icon-phone:before {
  content: "\e91d";
}
.icon-play:before {
  content: "\e91e";
}
.icon-use:before {
  content: "\e91f";
}
.icon-checkmark:before {
  content: "\e905";
}
.icon-circle-down:before {
  content: "\e907";
}
.icon-circle-up:before {
  content: "\e908";
}
.icon-cross:before {
  content: "\e90c";
}
.icon-Expansion:before {
  content: "\e90d";
}
.icon-phone01:before {
  content: "\e915";
}
.icon-phone02:before {
  content: "\e916";
}
.icon-return:before {
  content: "\e917";
}
.icon-woman:before {
  content: "\e900";
}
.icon-Cancellation:before {
  content: "\e901";
}
.icon-Correct-complete:before {
  content: "\e902";
}
.icon-data:before {
  content: "\e903";
}
.icon-Doubt:before {
  content: "\e904";
}
.icon-error:before {
  content: "\e906";
}
.icon-data-message:before {
  content: "\e909";
}
.icon-message:before {
  content: "\e90a";
}
.icon-Location4:before {
  content: "\e90b";
}
.icon-rule:before {
  content: "\e90e";
}
.icon-Tender:before {
  content: "\e90f";
}
.icon-Turn-page:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
.icon-user2:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e913";
}
.icon-man:before {
  content: "\e914";
}

