@import "src/sass/global/mixin";

#demandDetail {
    display: none;

    #controlProcessMD {
        margin-left: 114px;
        margin-top: -8px;
    }

    .content {
        width: 740px;
        background-color: #fff;
        border-radius: 4px;
    }
    
    p {
        margin:0;
    }
    .title{
        line-height: 42px;
        font-family: PingFangSC-Thin;
        font-size: 30px;
        color: $black;
        letter-spacing: 0;
        margin:0;
        margin-left:40px;
        padding-top: 35px;
    }

    .circle-dpar {
        margin-left: 25px;
        vertical-align: 2px;
        cursor: pointer;

        span{
            color: #003894;
            font-size: 15px;
            display: inline-block;
        }
    }
    .unfoldown {
        span {
            transform:rotate(-180deg);
        }
    }

     .detail-block{
        width: 740px;
        padding: 40px 74px 0px 74px;
        display: inline-block;
        vertical-align: top;
        span[class^="icon-"]{
            position: absolute;
            top: 1px;
            left: -30px;
            color: #8b9aab;
            font-size: 16px;
        }
        .pro-name{
            font-size: 18px;
            color: $black;
            line-height: 25px;
            margin:0;
            margin-bottom: 30px;
            position: relative;
            .icon-xiangmu{
                color: $blue;
                font-size: 24px;
                left: -32px;
            }
        }
        .pro-client{
            display:inline-block;
            font-size: 16px;
            color: $black;
            line-height: 22px;
            margin:0;
            .pro-client-name{
                margin-right: 11px;
            }
        }
        .pro-img-box {
            width: 286px;
            height: 178px;
            background: #F4F8FF;
            margin-bottom: 17px;
            position: relative;

            .pri-img-none {
                font-size: 14px;
                color: #8B9AAB;
                display: inline-block;
                text-align: center;
                padding-top: 79px;
                width: 100%;
            }
        }
        .pro-pos{
            display:inline-block;
            font-size: 12px;
            color: #999;
            line-height: 17px;
            margin-bottom: 30px;
            margin-left: 15px;
        }
        .pro-service{
            margin-bottom: 30px;
            font-size: 14px;
            letter-spacing: 0;
            position: relative;
            .pro-service-name{
                color: $lightblack;
            }
            .pro-service-time{
                color: #999;;
                margin-left:20px;
            }
        }
        .pro-info{
            font-size: 14px;
            color: $gray;
            line-height: 20px;
            margin-bottom: 30px;
            position: relative;

            .gz-reason {
                font-size: 14px;
                color: #333333;
            }
        }
        .pro-img{
            width: 286px;
            height:178px;
            position: absolute;
            background: #F4F8FF;
            top: 0;
            left: 0;
            border: none;
        }
        .pro-addr{
            font-size: 12px;
            color: #999;
            line-height: 20px;
            margin-bottom: 30px;
            position: relative;
            .icondress {
                position: static;
                color: #003894;
                font-size: 12px;
            }
        }
        .pro-programme{
            position: relative;
            margin-bottom: 30px;
            font-size: 14px;
            letter-spacing: 0;
            .pro-programme-name{
                color: $lightblack;
            }
            .pro-programme-details{
                display:block;
                color: $gray;
                margin-top:14px;
            }
        }
        .pro-recall{
            position: relative;
            .pro-recall-name{
                font-size: 14px;
                color: $gray;
                letter-spacing: 0;
                margin-bottom: 14px;
            }
            
            .pro-bname {
                font-size: 14px;
                color: #666;
                margin-top: 24px;
                display: block;
                cite {
                    font-style: normal;
                    margin-right: 20px;
                }
            }
            .pro-bshuo {
                font-size: 12px;
                color: #999;
                margin-top: 8px;
                display: block;
            }
        }
        .pro-note{
            font-size: 14px;
            color: $gray;
            line-height: 20px;
            margin-bottom: 14px;
            position: relative;
        }
        .table-bordered{
            width: 100%;
            margin-bottom:30px;
            td{
                height: 45px;
                line-height: 45px;
                color: $black;
                font-size: 14px;
                padding:0 0 0 40px;
            }
            tr td:first-of-type{
                color: $grayblue;
                padding:0 0 0 15px;
                width: 170px;
            }
        }
        .pro-record{
            position: relative;
            font-size: 14px;
            letter-spacing: 0;
            .pro-record-name{
                color: $lightblack;
            }
            .pro-record-details{
                display:block;
                color: $gray;
                margin-top:14px;
            }
        }
    }
    .comment-block {
        padding: 0px 74px 56px 74px;
        position: relative;
        .text-error {
            font-size: 12px;
            color: red;
            position: absolute;
            top: 82px;
            left: 75px;
        }

        display: none;
    }
    .pro-recall-textarea{
        margin-bottom: 25px;
        outline: none;
        list-style: none;
        width: 100%;
        height: 50px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1;
        color: #333;
        border: none;
        box-shadow: none;
        -webkit-appearance: none;
        padding:15px;
        background: #FFFFFF;
        border: 1px solid #E3E8EE;
        border-radius: 2px;
        resize: none;
        margin-top: 30px;
    }
    .pro-recall-save{
        width: 120px;
        height: 46px;
        background: $blue;
        border-radius: 2px;
        padding: 0;
        margin: 0 0 40px 0;
        font-weight:600;
        border: none;
    }
    .pro-recall-textarea::-webkit-input-placeholder {
        color: #8B9AAB !important; /* WebKit browsers */
    }
    .pro-recall-textarea:-moz-placeholder {
        color: #8B9AAB !important; /*Mozilla Firefox 4 to 18 */
    }
    .pro-recall-textarea::-moz-placeholder {
        color: #8B9AAB !important; /*Mozilla Firefox 19+ */
    }
    .pro-recall-textarea:-ms-input-placeholder {
        color: #8B9AAB !important; /*Internet Explorer 10+ */
    }

    /*产品配件*/
    .fixbox {
        width: 100%;
        margin-bottom: 30px;
    }
    .info-fixing {
        border: 1px solid #E0E1E6;
        border-right: none;
        width: 100%;
        border-radius: 4px;

        td {
            border-top: 1px solid #e0e1e6;
            border-right: 1px solid #e0e1e6;
            font-size: 14px;
            color: #333;
            padding: 13px 15px;

            .repair-person {
                color: #333;
                font-size: 14px;

                .icon-success {
                    position: static;
                    color: #77c61b;
                    font-size: 14px;
                    margin-right: 10px;
                    vertical-align: -1px;
                }
                cite {
                    font-family: PingFangSC-Thin;
                    font-size: 14px;
                    color: #3F3F3F;
                    font-style: normal;
                }
            }

            .repair-adopt {
                padding-left: 24px;
                color: #8b9aab;
            }
        }

        .tabhead td {
            background: #F7FAFF;
            color: #8b9aab;
        }
    }

    .fixing-more {
        width: 100%;
        border: 1px solid #E0E1E6;
        border-top: none;
        text-align: center;
        height: 42px;
        line-height: 42px;

        .view-more {
            font-family: PingFangSC-Thin;
            font-size: 14px;
            color: #003894;
        }
    }

    /*寄件*/
    .pro-send {
        width: 592px;
        height: 50px;
        background: #F7FAFF;
        border: 1px solid #E3E8EE;
        border-radius: 2px; 
        padding: 0 15px;
        margin-bottom: 30px;

        input {
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            margin-top: 15px;
            width: 100%;
            color: #333;
            border: none;
            background: #F7FAFF;
            outline: none;
        }
    }
    .send-num {
        font-size: 14px;
        color: #999999;
        margin-bottom: 32px;
        margin-top: -4px;
    }

}
