@import 'src/node_modules/static/www/css/mixin';
@import 'src/node_modules/static/www/css/common';

#task_submit_pop {
  width: 400px;
  padding:40px;
  .submit-title{
    height:42px;
    line-height: 42px;
    font-family: PingFangSC-Thin;
    font-size: 30px;
    color: #333333;
    letter-spacing: 0;
    margin: 40px 0;
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    .project-put-user{
      height:20px;
      line-height:20px;
      font-family: PingFangSC-Light;
      font-size: 14px;
      color: #8B9AAB;
      letter-spacing: 0;
    }
  }
  .input-half{
    width:150px;
  }
  .input-textarea{
    outline: none;
    list-style: none;
    width: 100%;
    height: 114px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: #333;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    padding:15px;
    background: #FFFFFF;
    border: 1px solid #E3E8EE;
    border-radius: 2px;
    resize: none;
    font-family: PingFangSC-Light;
    margin: 20px 0;
  }
  .input-div::-webkit-input-placeholder {
     color: #8B9AAB !important; /* WebKit browsers */
  }
  .input-div:-moz-placeholder {
     color: #8B9AAB !important; /*Mozilla Firefox 4 to 18 */
  }
  .input-div::-moz-placeholder {
     color: #8B9AAB !important; /*Mozilla Firefox 19+ */
  }
  .input-div:-ms-input-placeholder {
     color: #8B9AAB !important; /*Internet Explorer 10+ */
  }
  .submit-picture{
    .file-upload{
      display: inline-block;
      vertical-align: top;
    }

    .submit-picture-tips{
      height:70px;
      line-height:70px;
      display: inline-block;
      font-family: PingFangSC-Light;
      font-size: 14px;
      color: #8B9AAB;
      letter-spacing: 0;
      margin-left:20px;
      vertical-align: top;
    }
  }
  .project-set-user{
    display:-webkit-flex;
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    margin-top:31px;
  }
  .btn {
    width: 120px;
    height: 46px;
    background: $blue;
    border-radius: 2px;
    padding: 0;
    margin: 49px 0 0 0;
    font-weight:600;
  }
  ///////
  .file-error {
    font-size: 12px;
    color: #fe3824;
    position: absolute;
    left: 0;
    top: 73px;
    width: 238px;
    .icon-mark {
      margin-right: 5px;
      vertical-align: -1px;
    }
  }
  .fileuploading {
    position: absolute;
    left: 0;
    top: 0px;
    width: 114px;
    height: 70px;
    border: 1px solid #4785f9;
    text-align: center;
    line-height: 70px;
    background-color: #fff;
    color: #003894;
    font-size: 12px;
  }
}