@import "src/sass/global/mixin";
#submitDemandMD {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  .submit-title {
    height: 42px;
    line-height: 42px;
    font-size: 30px;
    color: #333333;
    letter-spacing: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .project-put-user {
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      color: #8B9AAB;
      letter-spacing: 0;
      position: relative;
      top: -6px;
    }
  }
  .input-half {
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E3E8EE;
    border-radius: 2px;
    font-size: 14px;
    color: #8B9AAB;
    padding: 0 15px;
  }
  .project-item {
    margin-top: 40px;
  }
  .project-name {
    width: 320px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #E3E8EE;
    border-radius: 2px;
    padding: 0 15px;
    font-size: 14px;
    color: #8B9AAB;
  }
  .input-textarea {
    outline: none;
    list-style: none;
    width: 100%;
    height: 114px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    color: #333;
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #E3E8EE;
    border-radius: 2px;
    resize: none;
    margin: 20px 0;
    color: #8B9AAB;
  }
  .input-div::-webkit-input-placeholder {
    color: #8B9AAB !important;
    /* WebKit browsers */
  }
  .input-div:-moz-placeholder {
    color: #8B9AAB !important;
    /*Mozilla Firefox 4 to 18 */
  }
  .input-div::-moz-placeholder {
    color: #8B9AAB !important;
    /*Mozilla Firefox 19+ */
  }
  .input-div:-ms-input-placeholder {
    color: #8B9AAB !important;
    /*Internet Explorer 10+ */
  }
  .submit-picture {
    .file-upload {
      display: inline-block;
      vertical-align: top;
      width: 113px;
      height: 70px;
      background: #F7FAFF;
      border: 1px solid #E3E8EE;
      border-radius: 2px;
      position: relative;
    }
    .submit-picture-tips {
      height: 70px;
      line-height: 70px;
      display: inline-block;
      font-family: PingFangSC-Light;
      font-size: 14px;
      color: #8B9AAB;
      letter-spacing: 0;
      margin-left: 20px;
      vertical-align: top;
    }
  }
  .project-set-user {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 31px;
  }
  .btn {
    width: 120px;
    height: 46px;
    background: $blue;
    border-radius: 2px;
    border-width: 0px;
    padding: 0;
    margin: 20px 0 0 0;
    font-weight: 600;
  } ///////
  .file-error {
    font-size: 12px;
    color: #fe3824;
    position: absolute;
    left: 0;
    top: 73px;
    width: 238px;
    .icon-mark {
      margin-right: 5px;
      vertical-align: -1px;
    }
  }
  .fileuploading {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 114px;
    height: 70px;
    border: 1px solid #4785f9;
    text-align: center;
    line-height: 70px;
    background-color: #fff;
    color: #003894;
    font-size: 12px;
  }
  .file-preview {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 114px;
    height: 70px;
    border: 1px solid #4785f9;
    text-align: center;
    background-color: #fff;
    >img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    >span {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: #003894;
      line-height: 18px;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
    }
  }  
  .text-error {
    color: #fe3824;
    margin-left: 25px;
    vertical-align: -10px;
    font-size: 14px;
  }
  .file-add {
    position: absolute;
    left: -1px;
    top: -1px;
    width: 114px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
    >input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      direction: ltr;
      cursor: pointer;
    }
  }
}