#LandFooter{
  background-color: #2A2F33;
  padding: 92px 0;
  .land-logo-f{

    img{
      width: 139px;
    }
  }

  .land-f-info{
    h4{
      font-size: 18px;
      margin: 0 0 22px;
    }
    p{
      font-size: 14px;
      color: #9E9EA1;
      margin-bottom: 5px;
    }
  }
}