@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3o36sz');
  src:  url('fonts/icomoon.eot?3o36sz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3o36sz') format('truetype'),
    url('fonts/icomoon.woff?3o36sz') format('woff'),
    url('fonts/icomoon.svg?3o36sz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Add-to:before {
  content: "\e900";
  color: #8b9aab;
}
.icon-call:before {
  content: "\e901";
  color: #003894;
}
.icon-cut-back:before {
  content: "\e902";
  color: #8b9aab;
}
.icon-left:before {
  content: "\e903";
  color: #8b9aab;
}
.icon-location:before {
  content: "\e904";
  color: #003894;
}
.icon-project:before {
  content: "\e905";
  color: #003894;
}
.icon-Put-away:before {
  content: "\e906";
  color: #8b9aab;
}
.icon-right:before {
  content: "\e907";
  color: #8b9aab;
}
.icon-success:before {
  content: "\e908";
  color: #77c61b;
}
.icon-time:before {
  content: "\e909";
  color: #003894;
}
.icon-Unfolded:before {
  content: "\e90a";
  color: #8b9aab;
}
.icon-upload-image:before {
  content: "\e90b";
  color: #003894;
}
