@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?gw6082');
  src:  url('fonts/icomoon.eot?gw6082#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?gw6082') format('truetype'),
    url('fonts/icomoon.woff?gw6082') format('woff'),
    url('fonts/icomoon.svg?gw6082#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Unfolded:before {
  content: "\e900";
}
.icon-right:before {
  content: "\e901";
}
.icon-Put-away:before {
  content: "\e902";
}
.icon-malfunction:before {
  content: "\e903";
}
.icon-location:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e905";
}
.icon-cut-back:before {
  content: "\e906";
}
.icon-call:before {
  content: "\e907";
}
.icon-Add-to:before {
  content: "\e908";
}

